<% title "#{@game.name} | #{@role.name}" %>

<div class='plots'>
	<ul>
		<li><%= link_to "查看统计图表", game_plot_path(@role.game, @role), :rel => "gb_page_center[1100,700]" %></li>
	</ul>
</div>

<div id='role_info'><%= render :partial => 'role' %></div>

